.RecastApp .RecastAppInput {
  // position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;

  padding: 24px 60px 24px 60px;
  color: grey;
  background: white;
  box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
}

.RecastApp .RecastTextarea {
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  padding: 8px 44px 2px 16px;
  font-family: Helveticaneue, sans-serif;
  height: 50px;
  overflow: hidden;
}

.RecastApp .InputButton {
  position: absolute;
  right: 68px;
  top: 32px;
  width: 28px;
  cursor: pointer;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
  &:active {
    transform: scale(1.18);
  }
}


.RecastApp .RecastAnotation {
  margin-right: 28px;
  font-family: Helveticaneue, sans-serif;
  font-size: 14px;
  opacity: 0.8;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

@media only screen and (min-width: 420px) and (min-height: 575px) {
  .RecastApp .RecastAppInput {
    position: relative;
  }
}
