.RecastApp .RecastAppHeader {
  display: flex;
  align-items: flex-start;
  border-radius: 0;
  position: initial;
  height: 54px;

  &--logo {
    height: 50px;
    width: 50px;
    padding: 10px;
  }

  &--title {
    font-weight: bold;
    flex-grow: 1;
  }

  &--btn {
    cursor: pointer;
    margin: 26px 26px 0px 0px;
    width: 13px;
    height: 13px;
  }
}

@media only screen and (min-width: 420px) and (min-height: 575px) {
  .RecastApp .RecastAppHeader {
    border-radius: 3px 3px 0 0;
  }
}
